{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background=feature_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=feature_image}}
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-hero-title bigger">{{title}}</h1>
    {{#if custom_excerpt}}
    <p class="m-hero-description">{{custom_excerpt}}</p>
    {{/if}}
  </div>
  </section>
  <main>
    <article>
      <div class="l-content">
        <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
          <div class="l-post-content">
            <div class="pos-relative js-post-content">
              <p class="align-center">
                <button id="cookies-turn-off" class="m-button filled">Odkloni piškotke</button>
                <br>
                <button id="cookies-turn-on" class="m-button filled"
                  style="background: var(--primary-subtle-color); color: var(--background-color);">
                  Strinjam se z uporabo piškotkov</button>
              </p>
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>
{{/post}}

<script>
  document.getElementById("cookies-turn-off").onclick = function (e) {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-149255108-1');
    alert("Piškote smo izklopili");
  };
  document.getElementById("cookies-turn-on").onclick = function (e) {
    window.dataLayer = window.dataLayer || [];
    window['ga-disable-UA-149255108-1'] = true;
    alert("Hvala za vaše zaupanje");
  };
</script>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
