:root,
[data-theme="light"] {
  --background-color: #fff;
  --primary-foreground-color: #4a4a4a;
  --secondary-foreground-color: #000;
  --primary-subtle-color: #008736;
  --secondary-subtle-color: #eefcee;
  --titles-color: #333;
  --link-color: #293951;
  --primary-border-color: #9b9b9b;
  --secondary-border-color: #f0f8ff;
  --article-shadow-normal: 0 10px 10px #00000014;
  --article-shadow-hover: 0 4px 60px 0 #00000033;
  --transparent-background-color: #fffffffc;
  --footer-background-color: #008736;
  --submenu-shadow-color-opacity: 0.25;
  --button-shadow-color-normal: #6c6c6c33;
  --button-shadow-color-hover: #6c6c6c4d;
  --toggle-darkmode-button-color: #fff;
  --table-background-color-odd: #fafafa;
  --table-head-border-bottom: #e2e2e2;
  --hr-color: #86c58f;
}

[data-theme="dark"] {
  --background-color: #121212;
  --primary-foreground-color: #dfdede;
  --secondary-foreground-color: #fff;
  --primary-subtle-color: #06ad49;
  --secondary-subtle-color: #141920;
  --titles-color: #f1f1f1;
  --link-color: #06ad49;
  --primary-border-color: #808080;
  --secondary-border-color: #44444481;
  --article-shadow-normal: 0 4px 5px 5px #0000001a;
  --article-shadow-hover: 0 4px 5px 10px #0087363a;
  --transparent-background-color: #000000fc;
  --footer-background-color: #1d1d1d;
  --submenu-shadow-color-opacity: 0.55;
  --button-shadow-color-normal: #0a0a0a80;
  --button-shadow-color-hover: #0a0a0a80;
  --toggle-darkmode-button-color: #efd114;
  --table-background-color-odd: #050505;
  --table-head-border-bottom: #1d1d1d;
  --hr-color: #004d00;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background-color: #121212;
    --primary-foreground-color: #dfdede;
    --secondary-foreground-color: #fff;
    --primary-subtle-color: #06ad49;
    --secondary-subtle-color: #141920;
    --titles-color: #f1f1f1;
    --link-color: #06ad49;
    --primary-border-color: #808080;
    --secondary-border-color: #44444481;
    --article-shadow-normal: 0 4px 5px 5px #0000001a;
    --article-shadow-hover: 0 4px 5px 10px #0087363a;
    --transparent-background-color: #000000fc;
    --footer-background-color: #1d1d1d;
    --submenu-shadow-color-opacity: 0.55;
    --button-shadow-color-normal: #0a0a0a80;
    --button-shadow-color-hover: #0a0a0a80;
    --toggle-darkmode-button-color: #efd114;
    --table-background-color-odd: #050505;
    --table-head-border-bottom: #1d1d1d;
    --hr-color: #004d00;
  }
}
